<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="countryData">
                <ng-container *ngIf="countryData.countryCode !== ''">CHỈNH SỬA</ng-container>
                <ng-container *ngIf="countryData.countryCode === ''">THÊM MỚI</ng-container>
                QUỐC GIA XUẤT NHẬP KHẨU
            </ng-container>
        </div>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="countryData">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label required fw-semibold fs-6">Mã quốc gia</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="CountryCode" 
                        placeholder="Hãy nhập mã quốc gia" autocomplete="off" 
                        [class.is-invalid]="isControlInvalid('CountryCode')" 
                        [class.is-valid]="isControlValid('CountryCode')" 
                        formControlName="CountryCode" />
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'CountryCode')">Bắt buộc</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'CountryCode')">Mã quốc gia không được có dấu và khoảng trắng</div>
                    </div>
                </div>               
                <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label required fw-semibold fs-6">Tên quốc gia</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="CountryName" 
                        placeholder="Hãy nhập tên quốc gia" autocomplete="off" 
                        [class.is-invalid]="isControlInvalid('CountryName')" 
                        [class.is-valid]="isControlValid('CountryName')" 
                        formControlName="CountryName" />
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'CountryName')">Bắt buộc</div>
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Thoát</button>
        <ng-container *ngIf="countryData">
            <button type="submit" class="btn btn-primary btn-elevate" ngbAutofocus (click)="check_formGroup()">Xác nhận</button>
        </ng-container>
    </div>
</div>