<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            Đổi mật khẩu
        </div>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container>
            <div id="kt_account_settings_profile_details" class="collapse show">
                <form id="kt_account_profile_details_form" [formGroup]="formGroup" class="form">
                    <div class="row mb-6">
                        <label class="col-lg-3 col-form-label required fw-semibold fs-6">Mật khẩu mới<img src="" alt=""
                                sizes="" srcset=""></label>
                        <div class="col-lg-9 fv-row">
                            <input type="password" 
                                [class.is-invalid]="isControlInvalid('MatKhau')"
                                [class.is-valid]="isControlValid('MatKhau')" 
                                formControlName="MatKhau"
                                class="form-control form-control-lg form-control-solid" placeholder="Mật khẩu mới" />
                            
                            <app-password-strength [passwordToCheck]="formGroup.controls.MatKhau.value"></app-password-strength>    
                            <div class="invalid-feedback" *ngIf="controlHasError('required', 'MatKhau')">Bắt buộc</div>
                            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'MatKhau')">Mật khẩu ít nhất 8 ký tự</div>
                            <div class="invalid-feedback" *ngIf="controlHasError('invalidPassword', 'MatKhau')">Hãy nhập mật khẩu mạnh hơn (ít nhất 8 ký tự gồm: ký tự hoa, thường, đặc biệt và số)</div>
                        </div>
                    </div>

                    <div class="row mb-6">
                        <label class="col-lg-3 col-form-label required fw-semibold fs-6">Nhập lại mật khẩu<img src=""
                                alt="" sizes="" srcset=""></label>
                        <div class="col-lg-9 fv-row">
                            <input type="password" 
                                [class.is-invalid]="isControlInvalid('NhapLaiMatKhau')"
                                [class.is-valid]="isControlValid('NhapLaiMatKhau')" 
                                formControlName="NhapLaiMatKhau"
                                class="form-control form-control-lg form-control-solid"
                                placeholder="Nhập lại mật khẩu" />
                            <div class="invalid-feedback" *ngIf="controlHasError('required', 'NhapLaiMatKhau')">
                                Bắt buộc
                            </div>
                            <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'NhapLaiMatKhau')">
                                Mật khẩu nhập lại ít nhất 8 ký tự
                            </div>
                            <ng-container *ngIf="formGroup.controls['NhapLaiMatKhau'].errors && formGroup.controls['NhapLaiMatKhau'].errors.ConfirmPassword">
                                <div class="invalid-feedback">Mật khẩu nhập lại không khớp</div>
                            </ng-container>
                        </div>
                    </div>
                </form>
            </div>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Thoát</button>
        <ng-container>
            <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
                [disabled]="formGroup.invalid">Xác nhận</button>
        </ng-container>
    </div>
</div>