<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="districtData">
                <ng-container *ngIf="id">CHỈNH SỬA</ng-container>
                <ng-container *ngIf="!id">THÊM MỚI</ng-container>
                THÔNG TIN HUYỆN
            </ng-container>
        </div>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="districtData">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label required fw-semibold fs-6">Mã huyện</label>
                        <input 
                            type="text" 
                            class="form-control form-control-lg form-control-solid" 
                            name="DistrictCode" 
                            placeholder="Mã huyện" 
                            autocomplete="off" 
                            [class.is-invalid]="isControlInvalid('DistrictCode')" 
                            [class.is-valid]="isControlValid('DistrictCode')" 
                            formControlName="DistrictCode" />
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'DistrictCode')">Bắt buộc</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'DistrictCode')">Mã huyện không được có dấu và khoảng trắng</div>
                    </div>
                </div>
                <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label required fw-semibold fs-6">Tên huyện</label>
                        <input 
                            type="text" 
                            class="form-control form-control-lg form-control-solid" 
                            name="DistrictName" 
                            placeholder="Tên huyện" 
                            autocomplete="off" 
                            [class.is-invalid]="isControlInvalid('DistrictName')" 
                            [class.is-valid]="isControlValid('DistrictName')" 
                            formControlName="DistrictName" />
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'DistrictName')">Bắt buộc</div>
                    </div>
                </div>
                <!-- <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label">Số xã</label>
                        <input 
                            type="text" 
                            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                            class="form-control form-control-lg form-control-solid" 
                            name="CommuneNumber" 
                            placeholder="Số xã"
                            autocomplete="off"
                            formControlName="CommuneNumber" />
                        <div class="invalid-feedback" *ngIf="isDefaultValue('CommuneNumber')">Số xã không âm</div>
                    </div>
                </div> -->
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Thoát</button>
        <ng-container *ngIf="districtData">
            <button type="submit" class="btn btn-primary btn-elevate" ngbAutofocus (click)="check_formGroup()">Xác nhận</button>
        </ng-container>
    </div>
</div>