<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="typeofbusinessData">
                <ng-container *ngIf="typeofbusinessData.typeOfBusinessCode !== ''">CHỈNH SỬA</ng-container>
                <ng-container *ngIf="typeofbusinessData.typeOfBusinessCode === ''">THÊM MỚI</ng-container>
                LOẠI HÌNH DOANH NGHIỆP
            </ng-container>
        </div>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="typeofbusinessData">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label required fw-semibold fs-6">Mã loại hình doanh nghiệp</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="TypeOfBusinessCode" 
                        placeholder="Hãy nhập mã loại hình doanh nghiệp" autocomplete="off" 
                        [class.is-invalid]="isControlInvalid('TypeOfBusinessCode')" 
                        [class.is-valid]="isControlValid('TypeOfBusinessCode')" 
                        formControlName="TypeOfBusinessCode" />
                        <!-- <div class="valid-feedback" *ngIf="isControlValid('Name')"> name was entered correct</div> -->
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'TypeOfBusinessCode')">Bắt buộc</div>
                        <!-- <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'TypeOfBusinessCode')">Mã loại hình doanh nghiệp ít nhất 6 ký tự</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'TypeOfBusinessCode')">Mã loại hình doanh nghiệp tối đa 6 ký tự</div> -->
                        <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'TypeOfBusinessCode')">Mã loại hình doanh nghiệp không được có dấu và khoảng trắng</div>
                    </div>
                </div>               
                <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label required fw-semibold fs-6">Tên loại hình doanh nghiệp</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="TypeOfBusinessName" 
                        placeholder="Hãy nhập tên loại hình doanh nghiệp" autocomplete="off" 
                        [class.is-invalid]="isControlInvalid('TypeOfBusinessName')" 
                        [class.is-valid]="isControlValid('TypeOfBusinessName')" 
                        formControlName="TypeOfBusinessName" />
                        <!-- <div class="valid-feedback" *ngIf="isControlValid('Name')"> name was entered correct</div> -->
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'TypeOfBusinessName')">Bắt buộc</div>
                        <!-- <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'TypeOfBusinessName')">Tên loại hình doanh nghiệp ít nhất 2 ký tự</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'TypeOfBusinessName')">Tên loại hình doanh nghiệp tối đa 100 ký tự</div> -->
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Thoát</button>
        <ng-container *ngIf="typeofbusinessData">
            <button type="submit" class="btn btn-primary btn-elevate" ngbAutofocus (click)="check_formGroup()">Xác nhận</button>
        </ng-container>
    </div>
</div>