<div class="card mb-5 mb-xl-8">
  <!-- begin::Header -->
  <div class="card-header border-0 pt-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label fw-bolder fs-3 mb-1">{{Title()}}</span>
    </h3>
    <div class="card-toolbar">
      <button type="button" class="btn btn-sm btn-primary" (click)="add()">
        <i class="fa-solid fa-plus"></i> Thêm mới
      </button>
    </div>
  </div>
  <!-- end::Header -->
  <!-- begin::Body -->
  <div class="card-body py-3">

    <div class="row">
      <div class="col-xl-12">
        <div class="mb-10">
          <label class="form-label">Tìm kiếm</label>
          <input #searchInput type="text" class="form-control" placeholder="Nhập từ khóa" />
        </div>
      </div>
    </div>
    
    <!-- begin::Table container -->
    <div class="table-responsive table-loading">
      <!-- <div class="table-loading-message">
       Loading...
      </div> -->
      <!-- begin::Table -->
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="table table-striped table-hover gy-7 gs-7" matSort
          #sort1="matSort" matSortActive="{{sortactive}}" matSortDirection="asc" matSortDisableClear>

          <!-- Position Column -->
          <ng-container matColumnDef="Id">
            <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold fs-6 text-gray-800"> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <th mat-sort-header mat-header-cell *matHeaderCellDef class="fw-bold fs-6 text-gray-800"> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="fw-bold fs-6 text-gray-800"> Thao tác </th>
            <td mat-cell *matCellDef="let element"> 
              <button type="button" class="btn btn-icon btn-success" (click)="edit(element)"><i class="fa-solid fa-pen"></i></button> &nbsp;
              <button type="button" class="btn btn-icon btn-danger" (click)="delete(element)"><i class="fa-solid fa-trash"></i></button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSize]="5" [pageSizeOptions]="[3, 5, 10]" [length]="dataSource.paginatorTotal$ | async"
          [showFirstLastButtons]="true">
        </mat-paginator>
      </div>

      <!-- end::Table -->
    </div>
    <!-- end::Table container -->
  </div>
  <!-- begin::Body -->

</div>
