<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="cigaretteBusinessData">
                <ng-container *ngIf="id">CHỈNH SỬA</ng-container>
                <ng-container *ngIf="!id">THÊM MỚI</ng-container>
                ĐƠN VỊ KINH DOANH THUỐC LÁ
            </ng-container>
        </div>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>
        <ng-container *ngIf="show">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row mb-6">
                    <div class="col-lg-12 mb-6">
                        <label class="form-label required fw-semibold fs-6">Tên doanh nghiệp</label>
                        <app-select-custom [width]="'100%'" [placeholder]="'Chọn doanh nghiệp'" [data]="typeofbusinessData" [options]="options" formControlName="cigaretteBusinessName">
                        </app-select-custom>
                        <div style="padding-top: 20px;" class="invalid-feedback d-block" *ngIf="isDefaultValue('cigaretteBusinessName')">
                            Bắt buộc
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-6">
                    <div class="col-lg-6">
                        <label class="form-label fw-semibold fs-6">Giấy đăng ký kinh doanh</label>
                        <input type="text" readonly class="form-control form-control-lg form-control-solid" name="GiayDangKyKinhDoanh" placeholder="Hãy nhập giấy đăng ký kinh doanh" autocomplete="off" formControlName="GiayDangKyKinhDoanh" />
                    </div>
                    <div class="col-lg-6">
                        <label class="form-label fw-semibold fs-6">Ngày cấp phép</label>
                        <div class="input-group input-group-solid">
                            <input readonly type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" placeholder="DD/MM/YYYY" ngbDatepicker #d3="ngbDatepicker" formControlName="NgayCapPhep" />
                            <div class="input-group-append" (click)="d3.toggle()">
                                <span class="input-group-text">
                                    <i class="text-dark-50  bi bi-calendar-check fs-2x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mb-6">
                    <div class="col-lg-12 mt-6">
                        <label class="form-label fw-semibold fs-6">Thương nhân buôn bán</label>
                        <button type="button" mat-icon-button (click)="addStore()">
                            <mat-icon color="primary">
                                add_circle
                            </mat-icon>
                        </button>
                    </div>
                </div>
                <div class="form-group row mb-6">
                    <div class="col-lg-4">
                        <label class="form-label required fw-semibold fs-6">Tên cửa hàng</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="TenDoanhNghiep" placeholder="Hãy nhập tên doanh ngiệp" autocomplete="off" [class.is-invalid]="isControlInvalid('TenDoanhNghiep')" [class.is-valid]="isControlValid('TenDoanhNghiep')"
                            formControlName="TenDoanhNghiep" />
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'TenDoanhNghiep')">Bắt buộc
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label required fw-semibold fs-6">Người đại diện</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="NguoiDaiDien" placeholder="Hãy nhập người đại diện" autocomplete="off" [class.is-invalid]="isControlInvalid('NguoiDaiDien')" [class.is-valid]="isControlValid('NguoiDaiDien')"
                            formControlName="NguoiDaiDien" />
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'NguoiDaiDien')">Bắt buộc</div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label required fw-semibold fs-6">Số điện thoại</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="SoDienThoai" placeholder="Hãy nhập số điện thoại" autocomplete="off" [class.is-invalid]="isControlInvalid('SoDienThoai')" [class.is-valid]="isControlValid('SoDienThoai')"
                            formControlName="SoDienThoai" (keypress)="prenventInputNonNumber($event)" />
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'SoDienThoai')">Bắt buộc</div>
                    </div>
                </div>
                <div class="form-group row mb-6">
                    <div class="col-lg-4 mb-6">
                        <label class="form-label required fw-semibold fs-6">Huyện</label>
                        <app-select-custom [width]="'100%'" [data]="districtData" [options]="options" formControlName="Huyen" (valueChanged)="loadCommuneByDistrict($event)">
                        </app-select-custom>
                        <div style="padding-top: 20px;" class="invalid-feedback d-block" *ngIf="isDefaultValue('Huyen')">Bắt buộc</div>
                    </div>
                    <div class="col-lg-4 mb-6">
                        <label class="form-label required fw-semibold fs-6">Xã</label>
                        <app-select-custom [width]="'100%'" [data]="communeDataByDistrictId" [options]="options" formControlName="Xa">
                        </app-select-custom>
                        <div style="padding-top: 20px;" class="invalid-feedback d-block" *ngIf="isDefaultValue('Xa')">
                            Bắt buộc</div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label  fw-semibold fs-6">Địa chỉ</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="DiaChi" placeholder="Hãy nhập địa chỉ" autocomplete="off" formControlName="DiaChi" />
                    </div>
                </div>
                <div class="form-group row mb-6">
                    <div class="col-lg-4">
                        <label class="form-label fw-semibold fs-6">Giấy phép kinh doanh</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="GiayPhepKinhDoanh" placeholder="Hãy nhập số giấy phép kinh doanh" autocomplete="off" formControlName="GiayPhepKinhDoanh" />
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label fw-semibold fs-6">Ngày cấp</label>
                        <div class="input-group input-group-solid">
                            <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" placeholder="DD/MM/YYYY" ngbDatepicker #d2="ngbDatepicker" formControlName="NgayCap" />
                            <div class="input-group-append" (click)="d2.toggle()">
                                <span class="input-group-text">
                                    <i class="text-dark-50  bi bi-calendar-check fs-2x"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label fw-semibold fs-6">Ngày hết hạn</label>
                        <div class="input-group input-group-solid">
                            <input type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" placeholder="DD/MM/YYYY" ngbDatepicker #d1="ngbDatepicker" formControlName="NgayHetHan" />
                            <div class="input-group-append" (click)="d1.toggle()">
                                <span class="input-group-text">
                                    <i class="text-dark-50  bi bi-calendar-check fs-2x"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group row mb-6">
                    <div class="col-lg-4">
                        <label class="form-label fw-semibold fs-6">Tên đơn vị cung cấp</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="DonViCungCap" placeholder="Hãy nhập đơn vị cung cấp" autocomplete="off" formControlName="DonViCungCap" />
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label fw-semibold fs-6">Địa chỉ đơn vị cung cấp</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="DonViCungCap" placeholder="Hãy nhập địa chỉ đơn vị cung cấp" autocomplete="off" formControlName="DiaChiDonViCungCap" />
                    </div>
                    <div class="col-lg-4">
                        <label class="form-label fw-semibold fs-6">SĐT đơn vị cung cấp</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="DonViCungCap" placeholder="Hãy nhập số điện thoại đơn vị cung cấp" autocomplete="off" formControlName="PhoneDonViCungCap" />
                    </div>
                </div>
                <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label fw-semibold fs-6">Ghi chú</label>
                        <textarea type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" placeholder="Ghi chú" formControlName="GhiChu" rows="2">
                        </textarea>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable">
                        <tr class="text-gray-900 fw-semibold fs-6 me-2">
                            <th class="min-w-100px text-center" style="vertical-align: middle;">STT</th>
                            <th class="min-w-175px text-center" style="vertical-align: middle;">Tên cửa hàng</th>
                            <th class="min-w-175px text-center" style="vertical-align: middle;">Người đại diện</th>
                            <th class="min-w-175px text-center" style="vertical-align: middle;">SĐT</th>
                            <th class="min-w-50px"></th>
                        </tr>
                        <tr *ngFor="let item of dataSource; let i = index">
                            <td class="text-center">{{i+1}}</td>
                            <td class="text-center">{{item.tenDoanhNghiep}}</td>
                            <td class="text-center">{{item.nguoiDaiDien}}</td>
                            <td class="text-center">{{item.soDienThoai}}</td>
                            <td class="min-w-50px text-center">
                                <button type="button" mat-icon-button (click)="(delDetail(item, i))">
                                    <mat-icon color="warn">
                                        delete
                                    </mat-icon>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Thoát</button>
        <ng-container *ngIf="cigaretteBusinessData">
            <button type="submit" class="btn btn-primary btn-elevate" (click)="check_formGroup()">Xác nhận</button>
        </ng-container>
    </div>
</div>