<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="energyindustryData">
                <ng-container *ngIf="energyindustryData.energyIndustryCode !== ''">CHỈNH SỬA</ng-container>
                <ng-container *ngIf="energyindustryData.energyIndustryCode === ''">THÊM MỚI</ng-container>
                LĨNH VỰC HOẠT ĐỘNG ĐIỆN LỰC
            </ng-container>
        </div>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="isLoading$ | async">
            <div class="overlay-layer bg-transparent">
                <div class="spinner spinner-lg spinner-success"></div>
            </div>
        </ng-container>

        <ng-container *ngIf="energyindustryData">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label required fw-semibold fs-6">Nhập mã lĩnh vực</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="EnergyIndustryCode" 
                        placeholder="Hãy nhập mã lĩnh vực" autocomplete="off" 
                        [class.is-invalid]="isControlInvalid('EnergyIndustryCode')" 
                        [class.is-valid]="isControlValid('EnergyIndustryCode')" 
                        formControlName="EnergyIndustryCode" />
                        <!-- <div class="valid-feedback" *ngIf="isControlValid('Name')"> name was entered correct</div> -->
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'EnergyIndustryCode')">Bắt buộc</div>
                        <!-- <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'EnergyIndustryCode')">Mã lĩnh vực ít nhất 6 ký tự</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'EnergyIndustryCode')">Mã lĩnh vực tối đa 6 ký tự</div> -->
                        <div class="invalid-feedback" *ngIf="controlHasError('pattern', 'EnergyIndustryCode')">Mã lĩnh vực không được có dấu và khoảng trắng</div>
                    </div>
                </div>               
                <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label required fw-semibold fs-6">Nhập tên lĩnh vực</label>
                        <input type="text" class="form-control form-control-lg form-control-solid" name="EnergyIndustryName" 
                        placeholder="Hãy nhập tên lĩnh vực" autocomplete="off" 
                        [class.is-invalid]="isControlInvalid('EnergyIndustryName')" 
                        [class.is-valid]="isControlValid('EnergyIndustryName')" 
                        formControlName="EnergyIndustryName" />
                        <!-- <div class="valid-feedback" *ngIf="isControlValid('Name')"> name was entered correct</div> -->
                        <div class="invalid-feedback" *ngIf="controlHasError('required', 'EnergyIndustryName')">Bắt buộc</div>
                        <!-- <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'EnergyIndustryName')">Tên lĩnh vực ít nhất 3 ký tự</div>
                        <div class="invalid-feedback" *ngIf="controlHasError('maxLength', 'EnergyIndustryName')">Tên lĩnh vực tối đa 100 ký tự</div> -->
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Thoát</button>
        <ng-container *ngIf="energyindustryData">
            <button type="submit" class="btn btn-primary btn-elevate" ngbAutofocus (click)="check_formGroup()">Xác nhận</button>
        </ng-container>
    </div>
</div>