<div class="modal-content">
    <div class="modal-header">
        <div class="modal-title h4" id="example-modal-sizes-title-lg">
            <ng-container *ngIf="productData">
                THÊM MỚI SẢN PHẨM CÔNG BỐ HỢP QUY
            </ng-container>
        </div>
    </div>
    <div class="modal-body">
        <ng-container *ngIf="productData">
            <form action="#" class="form form-label-right" [formGroup]="formGroup">
                <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label required fw-semibold fs-6">Tên sản phẩm</label>
                        <input placeholder="Hãy nhập tên sản phẩm" type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" formControlName="ProductName" />
                    </div>
                    <div class="invalid-feedback d-block" *ngIf="controlHasError('required', 'ProductName')">Bắt buộc</div>
                </div>
                <div class="form-group row mb-6">
                    <div class="col-lg-12">
                        <label class="form-label">Ghi chú</label>
                        <input placeholder="Ghi chú" type="text" class="form-control form-control-lg form-control-solid" autocomplete="off" formControlName="Note" />
                    </div>
                </div>
            </form>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Thoát</button>
        <ng-container *ngIf="productData">
            <button type="submit" class="btn btn-primary btn-elevate" (click)="check_formGroup()">Xác nhận</button>
        </ng-container>
    </div>
</div>