<!--begin::Title-->
<h1 class="fw-bolder fs-2qx text-gray-900 mb-4">
  Sorry,
</h1>
<!--end::Title-->

<!--begin::Text-->
<div class="fw-semibold fs-6 mb-7">
  Tính năng này hiện tại đang được chúng tôi phát triển và sẽ được cập nhật lại sau.<br>Rất xin lỗi bạn vì sự bất tiện này!
</div>
<!--end::Text-->

<!--begin::Illustration-->
<!-- <div class="mb-11">
  <img src="./assets/media/auth/500-error.png" class="mw-100 mh-300px theme-light-show" alt="" />
  <img src="./assets/media/auth/500-error-dark.png" class="mw-100 mh-300px theme-dark-show" alt="" />
</div> -->
<!--end::Illustration-->

<!--begin::Link-->
<!-- <div class="mb-0">
  <a (click)="routeToDashboard()" class="btn btn-sm btn-primary">Quay lại Dashboard</a>
</div> -->

<div class="mb-0">
  <a (click)="goBack()" class="btn btn-sm btn-primary">Quay lại</a>
</div>
<!--end::Link-->
