
/****** Object:  Table [dbo].[Dps_RoleGroups]    Script Date: 27-Sep-22 3:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dps_RoleGroups](
	[GroupID] [int] NOT NULL,
	[RoleGroupName] [nvarchar](150) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[IDParent] [int] NOT NULL,
	[Prior] [smallint] NOT NULL,
	[IsDel] [bit] NOT NULL,
	[Client] [bit] NOT NULL,
	[Href] [nvarchar](50) NULL,
	[Icon] [varchar](100) NULL,
 CONSTRAINT [PK_Dps_RoleGroups] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dps_Roles]    Script Date: 27-Sep-22 3:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dps_Roles](
	[IdRole] [int] NOT NULL,
	[RoleName] [nvarchar](250) NOT NULL,
	[RoleGroup] [int] NOT NULL,
	[Active] [bit] NULL,
	[GhiChu] [nvarchar](max) NULL,
	[IsFunct] [bit] NOT NULL,
	[Icon] [nvarchar](50) NULL,
	[IdParent] [int] NULL,
	[Href] [nvarchar](100) NULL,
	[Client] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Prior] [int] NULL,
 CONSTRAINT [PK_Dps_Roles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dps_UserGroupRoles]    Script Date: 27-Sep-22 3:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dps_UserGroupRoles](
	[IDGroupUser] [int] NOT NULL,
	[IDGroupRole] [int] NOT NULL,
 CONSTRAINT [PK_Dps_UserGroupRoles] PRIMARY KEY CLUSTERED 
(
	[IDGroupUser] ASC,
	[IDGroupRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dps_UserGroups]    Script Date: 27-Sep-22 3:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dps_UserGroups](
	[IdGroup] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [nvarchar](250) NOT NULL,
	[GhiChu] [nvarchar](max) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsDel] [bit] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[DeletedBy] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[ModifiedBy] [int] NULL,
	[ModifiedDate] [datetime] NULL,
	[IdHuyen] [int] NULL,
	[IdDonVi] [int] NULL,
 CONSTRAINT [PK_Dps_UserGroups] PRIMARY KEY CLUSTERED 
(
	[IdGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoginSession]    Script Date: 27-Sep-22 3:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginSession](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Token] [nvarchar](500) NOT NULL,
	[LoginDate] [datetime] NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[Locked] [bit] NOT NULL,
 CONSTRAINT [PK_LoginSession] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Test]    Script Date: 27-Sep-22 3:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Test](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](500) NULL,
 CONSTRAINT [PK_Tbl_Test] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_User]    Script Date: 27-Sep-22 3:35:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_User](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[PasswordHash] [varchar](250) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[LastLogin] [datetime] NOT NULL,
	[Deleted] [bit] NULL,
	[Active] [bit] NULL,
	[Avatar] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tbl_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_User_GroupUser]    Script Date: 27-Sep-22 3:35:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_User_GroupUser](
	[IdUser] [int] NOT NULL,
	[IdGroupUser] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_User_GroupUser] PRIMARY KEY CLUSTERED 
(
	[IdUser] ASC,
	[IdGroupUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Dps_RoleGroups] ([GroupID], [RoleGroupName], [GhiChu], [IDParent], [Prior], [IsDel], [Client], [Href], [Icon]) VALUES (1, N'Hệ thống', N'0', 0, 1, 0, 0, N'0', N'fa-solid fa-gear')
GO
INSERT [dbo].[Dps_Roles] ([IdRole], [RoleName], [RoleGroup], [Active], [GhiChu], [IsFunct], [Icon], [IdParent], [Href], [Client], [Description], [Prior]) VALUES (2, N'Menu demo', 1, 1, NULL, 1, NULL, 27, N'/demo-page', 0, N'Menu demo', 1)
INSERT [dbo].[Dps_Roles] ([IdRole], [RoleName], [RoleGroup], [Active], [GhiChu], [IsFunct], [Icon], [IdParent], [Href], [Client], [Description], [Prior]) VALUES (27, N'Menu demo', 1, 1, NULL, 0, NULL, 0, N'0', 0, N'Menu demo', 0)
GO
INSERT [dbo].[Dps_UserGroupRoles] ([IDGroupUser], [IDGroupRole]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Dps_UserGroups] ON 

INSERT [dbo].[Dps_UserGroups] ([IdGroup], [GroupName], [GhiChu], [DisplayOrder], [IsDel], [CreatedBy], [CreatedDate], [DeletedBy], [DeletedDate], [ModifiedBy], [ModifiedDate], [IdHuyen], [IdDonVi]) VALUES (3, N'Quản trị hệ thống', N'Admin của toàn hệ thống', 1, 0, 2, CAST(N'2020-02-05T11:08:57.057' AS DateTime), NULL, NULL, 120, CAST(N'2022-05-11T09:07:39.280' AS DateTime), 80, NULL)
SET IDENTITY_INSERT [dbo].[Dps_UserGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[LoginSession] ON 

INSERT [dbo].[LoginSession] ([Id], [UserId], [Token], [LoginDate], [ExpiryDate], [Locked]) VALUES (1, 1, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJKV1RTZXJ2aWNlQWNjZXNzVG9rZW4iLCJqdGkiOiJmODI0YzdiMS1mYjZlLTQ0MjEtYjA1ZC05NGU4YmM1NzRiOWUiLCJpYXQiOiIxNS1TZXAtMjIgODoxMToxNyBBTSIsIlVzZXJOYW1lIjoiYWRtaW4iLCJQYXNzV29yZCI6IjEyMzQ1NkFhQCIsImV4cCI6MTY2MzIyOTQ3NywiaXNzIjoiSldUQXV0aGVudGljYXRpb25TZXJ2ZXIiLCJhdWQiOiJKV1RTZXJ2aWNlUG9zdG1hbkNsaWVudCJ9.o4kP5oo9jnx5JYgna60H4lA9IWaYfpEE-m9Sdqph1lo', CAST(N'2022-09-15T15:11:19.837' AS DateTime), CAST(N'2022-09-15T15:11:17.357' AS DateTime), 1)
INSERT [dbo].[LoginSession] ([Id], [UserId], [Token], [LoginDate], [ExpiryDate], [Locked]) VALUES (2, 1, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJKV1RTZXJ2aWNlQWNjZXNzVG9rZW4iLCJqdGkiOiIzMDNhNThjMS1mMWFiLTRiNDYtYjM2MC01ZTU0OThjMzU0MTUiLCJpYXQiOiIxNS1TZXAtMjIgODoxMjo0MyBBTSIsIlVzZXJOYW1lIjoiYWRtaW4iLCJQYXNzV29yZCI6IjEyMzQ1NkFhQCIsImV4cCI6MTY2NTgyMTU2MiwiaXNzIjoiSldUQXV0aGVudGljYXRpb25TZXJ2ZXIiLCJhdWQiOiJKV1RTZXJ2aWNlUG9zdG1hbkNsaWVudCJ9.715r6C-pgG7CYRb1rgBMnyhaXgScCiPtTCgJiZhAo_c', CAST(N'2022-09-15T15:12:43.947' AS DateTime), CAST(N'2022-10-15T15:12:42.573' AS DateTime), 1)
INSERT [dbo].[LoginSession] ([Id], [UserId], [Token], [LoginDate], [ExpiryDate], [Locked]) VALUES (3, 1, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJKV1RTZXJ2aWNlQWNjZXNzVG9rZW4iLCJqdGkiOiJmNjg2MmQ1ZS0xMzQ4LTQyOGItODdkNS1kY2EwZjhiYjJlNjEiLCJpYXQiOiIxNi1TZXAtMjIgMjozNDozMyBBTSIsIlVzZXJOYW1lIjoiYWRtaW4iLCJQYXNzV29yZCI6IjEyMzQ1NkFhQCIsImV4cCI6MTY2NTg4NzY3MywiaXNzIjoiSldUQXV0aGVudGljYXRpb25TZXJ2ZXIiLCJhdWQiOiJKV1RTZXJ2aWNlUG9zdG1hbkNsaWVudCJ9.zZAvEgpXiggLn3eA8C9pFjevLS62fFLYp09rQjbcWm0', CAST(N'2022-09-16T09:34:34.193' AS DateTime), CAST(N'2022-10-16T09:34:33.310' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[LoginSession] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_Test] ON 

INSERT [dbo].[Tbl_Test] ([Id], [Name]) VALUES (7, N'Name7')
INSERT [dbo].[Tbl_Test] ([Id], [Name]) VALUES (8, N'Name8')
INSERT [dbo].[Tbl_Test] ([Id], [Name]) VALUES (9, N'Name9')
SET IDENTITY_INSERT [dbo].[Tbl_Test] OFF
GO
SET IDENTITY_INSERT [dbo].[Tbl_User] ON 

INSERT [dbo].[Tbl_User] ([UserId], [Username], [FullName], [PasswordHash], [CreatedDate], [LastLogin], [Deleted], [Active], [Avatar]) VALUES (1, N'admin', N'Quản trị hệ thống', N'gENaIZHJQwSqatBv7Rt758SZC6qmM4tU7zssQveiTgk=', CAST(N'2022-02-08T10:32:36.557' AS DateTime), CAST(N'2022-09-27T09:47:44.577' AS DateTime), 0, 1, NULL)
SET IDENTITY_INSERT [dbo].[Tbl_User] OFF
GO
INSERT [dbo].[Tbl_User_GroupUser] ([IdUser], [IdGroupUser]) VALUES (1, 3)
GO
ALTER TABLE [dbo].[Dps_RoleGroups] ADD  CONSTRAINT [DF_Dps_RoleGroups_IDParent]  DEFAULT ((0)) FOR [IDParent]
GO
ALTER TABLE [dbo].[Dps_RoleGroups] ADD  CONSTRAINT [DF_Dps_RoleGroups_Prior]  DEFAULT ((1)) FOR [Prior]
GO
ALTER TABLE [dbo].[Dps_RoleGroups] ADD  CONSTRAINT [DF_Dps_RoleGroups_IsDel]  DEFAULT ((0)) FOR [IsDel]
GO
ALTER TABLE [dbo].[Dps_RoleGroups] ADD  CONSTRAINT [DF_Dps_RoleGroups_Client]  DEFAULT ((0)) FOR [Client]
GO
ALTER TABLE [dbo].[Dps_Roles] ADD  CONSTRAINT [DF_Dps_Roles_Active]  DEFAULT ((1)) FOR [Active]
GO
ALTER TABLE [dbo].[Dps_Roles] ADD  CONSTRAINT [DF_Dps_Roles_IsFunct]  DEFAULT ((1)) FOR [IsFunct]
GO
ALTER TABLE [dbo].[Dps_Roles] ADD  CONSTRAINT [DF_Dps_Roles_GroupParent]  DEFAULT ((0)) FOR [IdParent]
GO
ALTER TABLE [dbo].[Dps_Roles] ADD  CONSTRAINT [DF_Dps_Roles_Href]  DEFAULT ('0') FOR [Href]
GO
ALTER TABLE [dbo].[Dps_Roles] ADD  CONSTRAINT [DF_Dps_Roles_IsFontEnd]  DEFAULT ((0)) FOR [Client]
GO
ALTER TABLE [dbo].[Dps_Roles] ADD  CONSTRAINT [DF_Dps_Roles_Prior]  DEFAULT ((0)) FOR [Prior]
GO
ALTER TABLE [dbo].[Dps_UserGroups] ADD  CONSTRAINT [DF_Dps_UserGroups_DisplayOrder]  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[Dps_UserGroups] ADD  CONSTRAINT [DF_Dps_UserGroups_IsDel]  DEFAULT ((0)) FOR [IsDel]
GO
ALTER TABLE [dbo].[Dps_UserGroups] ADD  CONSTRAINT [DF_Dps_UserGroups_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[LoginSession] ADD  CONSTRAINT [DF_LoginSession_ExpiryDate]  DEFAULT (dateadd(day,(7),getdate())) FOR [ExpiryDate]
GO
ALTER TABLE [dbo].[LoginSession] ADD  CONSTRAINT [DF_LoginSession_Locked]  DEFAULT ((0)) FOR [Locked]
GO
ALTER TABLE [dbo].[Tbl_User] ADD  CONSTRAINT [DF_Tbl_User_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Tbl_User] ADD  CONSTRAINT [DF_Tbl_User_LastLogin]  DEFAULT (getdate()) FOR [LastLogin]
GO
ALTER TABLE [dbo].[Tbl_User] ADD  CONSTRAINT [DF_Tbl_User_Deleted]  DEFAULT ((0)) FOR [Deleted]
GO
ALTER TABLE [dbo].[Tbl_User] ADD  CONSTRAINT [DF_Tbl_User_Active]  DEFAULT ((1)) FOR [Active]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: Hệ thống 1: Phản ánh hiện trường 2: Thông tin cảnh báo 3: Dịch vụ nâng cao 4: Trợ giúp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Dps_RoleGroups', @level2type=N'COLUMN',@level2name=N'IDParent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: backend  1: Client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Dps_RoleGroups', @level2type=N'COLUMN',@level2name=N'Client'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:Kích hoạt' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Dps_Roles', @level2type=N'COLUMN',@level2name=N'Active'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: Thiết lập hệ thống 1: Quản lý nghiệp vụ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Dps_Roles', @level2type=N'COLUMN',@level2name=N'IdParent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0: backend  1: Client' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Dps_Roles', @level2type=N'COLUMN',@level2name=N'Client'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lấy tên hiển thị lên menu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Dps_Roles', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IdRole trong bảng Dps_Roles' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Dps_UserGroupRoles', @level2type=N'COLUMN',@level2name=N'IDGroupRole'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dùng để phân biệt "nhóm người dùng" và "nhóm người dùng đơn vị"' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Dps_UserGroups', @level2type=N'COLUMN',@level2name=N'IdDonVi'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1: là tài khoản bị xóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tbl_User', @level2type=N'COLUMN',@level2name=N'Deleted'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1:đã kích hoạt 0:đã khóa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Tbl_User', @level2type=N'COLUMN',@level2name=N'Active'
GO
